@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Luxurious+Roman&display=swap');

:root{
    --color-destak:#AD0C0C;
    --color-destak2:#86611F;
    --color-white:#FEFCFA;
    --color-black:#13110E;
    --font-title:"Marcellus SC";
    --font-body:"Rubik";

}

*{
    margin: 0;
    list-style: none;
}

header{
    height: 100vh;
}

header::before{
    content: "";
    background-image: url("");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: block;
    position: absolute;
    z-index: -10;
}

h1{
    color: #FEFCFA;
    font-family: "Marcellus SC", serif;
    font-size: 56px;
    font-weight:800 ;
    
}

h2{
    color: #AD0C0C;
    font-family: "Rubik", sans-serif;
    font-size: 40px;
    font-weight: 600;
}

#secao-apresentacao{
    display: flex;
    align-items: center;
    padding: 4rem;
    /*1rem = 16px*/
}


#secao-apresentacao img{
    border-radius: 100%;
    height: 100vh;
    width: 100%;
}


#texto-apresentacao h2{
    color: var(--color-black)
}


#texto-apresentacao h2{
    font-size: 2,5rem;
    font-family: var(--font-title);
    color: var(--color-black)
}


#texto-apresentacao p{
    font-size: 1,5rem;
    font-family: var(--font-body);
    
}



 #secao-restaurantes{
    background-color: #86611F;
    
}

#secao-restaurantes ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.card{
    max-width: 300px;
    height: 420px;
    position: relative;
    cursor: pointer;
}

.image-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}
.image-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: opacity .5s;
}

.card-text{
    position: absolute;
    top: 30%;
    opacity: 0;
    transition: opacity .5s top .5%;
}

.card:hover .card-text{
    opacity: 1;
    top: 15%;

}

.card:hover .image-wrapper{
    opacity: .3;
}

#secao-restaurante{
    height: 100vh;
    padding: 3rem;
}

#secao-restaurantes h2{
    font-family: var(--font-title);
}

#secao-restaurantes form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto ;
}

.campo{
    display: flex;
    flex-direction: column;
}

.linha{
    grid-column: 1 / 3;
}

input[type=radio]
input[type=chekbox],
input[type=range]
{
    accent-color: var(--color-destak);
}